

/* ************** */
/*   H O M E       */
/* ************** */

nav {
  margin: 27px auto 0;
  position: fixed;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  overflow: hidden;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
.menu a:nth-child(1) {
  width: 100px;
}
.menu a:nth-child(2) {
  width: 110px;
}
.menu a:nth-child(3) {
 width: 110px;
}
.menu a:nth-child(4) {
 width: 100px;
}

a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: lightblue;
}
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: lightgreen;
}
a:nth-child(3):hover~.animation {
  width: 110px;
  left: 210px;
  background-color: #3498db;
}
a:nth-child(4):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: black;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
}

.land p {
  font-weight: 900;
  text-align: center;
  font-size: 50px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, white, grey, lightblue);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  margin: auto;
  width: 60%;
  border: 5px solid lightblue;
  padding: 10px;
  position: center;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}








/* ************** */
/* C O N T A C T */
/* ************** */


/* *, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;


}


.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;


}

.screen {
  background: #3e3e3e;
  border-radius: 15px;
  position: relative;
  left: 40%;

}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: lightblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-body {
  display: flex;

}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 4px;
  background: blue;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 50px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: white;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
  cursor: context-menu;
}

.app-form-control::placeholder {
  color: grey;
}

.app-form-control:focus {
  border-bottom-color: lightblue;
}



.fa{
  padding: 9px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;

}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: #0072b1;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
.fa-github{
  background: white;
  color: black;
}

.footer-container {
   left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: lightblue;
    color: white;
    text-align: center;
     border-style: groove;
}
.footer h5{
  text-transform: uppercase;
  color: black;
  text-decoration: overline;
}
.footer p{
  color: black;
  font-size: 10px;
  font-style: italic;
}


@media (max-width:900px) {
  .footer-container{
    width:100%;
  }
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}







/* ****************** */
/*      A B O U T     */
/* ****************** */

p{
  color: white;
}





















/* ****************** */
/*   G A L L E R Y    */
/* ****************** */

.gallery {
   width: 600px;
   height: 500px;
   background: lightblue;
   box-sizing: border-box;
   vertical-align:middle;
   position: relative;
   float: left;
   padding: 5px;
}
.box-img{
  width: 190px;
  transition: .1s transform;
  transform: translateZ(0);
}
.box-img :hover {
  z-index: 1;
}
.box-img:hover {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}
.box-img:before, .box-img:after {
  display: table;
  content: "";
  line-height: 0;
}
.box-img:after {
  clear: both;
}



@media (max-width:900px) {
  .menu, .app-form, .gallery, .box p{
    width:100%;
}
.menu {
    font-size: 1.5rem;
  }
.app-form {
  position: fixed;
  height: 25%;
}
.gallery{
  text-align: center;
}
}
