
/* menu{
  overflow: hidden;
} */


nav {
  margin: 27px auto 0;

  position: fixed;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  overflow: hidden;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
.menu a:nth-child(1) {
  width: 100px;
}
.menu a:nth-child(2) {
  width: 110px;
}
.menu a:nth-child(3) {
 width: 100px;
}
.menu a:nth-child(4) {
 width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: lightblue;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: lightgreen;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
}




/* ************** */
/* C O N T A C T */
/* ************** */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  /* background: linear-gradient(to blue, red 0%, light 100%); */

  background: #3e3e3e;
  border-radius: 15px;
  position: relative;


}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: lightblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.screen-body {
  display: flex;

}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 4px;
  background: blue;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 50px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: white;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
  cursor: context-menu;
}

.app-form-control::placeholder {
  color: grey;
}

.app-form-control:focus {
  border-bottom-color: lightblue;
}






.fa{
  padding: 9px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;

}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: #0072b1;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
.fa-github{
  background: white;
  color: black;
}



.footer-container {
  /* flex: 0 1 700px;
  margin: inherit;
  padding: 5px;
  background-color: lightblue;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  border-collapse: collapse; */
   left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: lightblue;
    color: white;
    text-align: center;
     border-style: groove;

}
.footer h5{
  text-transform: uppercase;
  color: black;
  text-decoration: overline;
}
.footer p{
  color: black;
  font-size: 10px;
  font-style: italic;
}


@media (max-width:900px) {
  .footer-container{
    width:100%;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


/* ****************** */
/*      A B O U T     */
/* ****************** */
p{
  color: white;
}

/* .ref {
  height: 60%;
  width: 50%;
  position: fixed;
  position: absolute;
  z-index: 1;
  top: auto;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: medium;
}
.left {
  left: 0;
  text-align: center;
  animation: lside 5s infinite;
}
@keyframes lside{
  0%{
    background-color: rgb(14, 116, 119);
  }
  100%{
    background-color: #5a4ca7;
  }
}
.right {
  right: 0;
  text-align: center;
  animation: rside 5s infinite;
}
@keyframes rside{
  0%{
    background-color: whitesmoke;
  }
  100%{
    background-color: #5a4ca7;
  }
}
.centered {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%);
  text-align: center;
} */





/* ****************** */
/*   G A L L E R Y    */
/* ****************** */


.gallery {
   width: 640px;
   /* margin: 0 auto; */
   /* padding: 5px; */
   background: lightblue;
   box-sizing: border-box;
   vertical-align:middle;
   position: relative;
   float: left;
   padding: 5px;
}
.box-img{
  width: 100px;
  transition: .1s transform;
  transform: translateZ(0);

}
.box-img :hover {
  z-index: 1;
}

.box-img:hover {
  transform: scale(1.8,1.8);
  transition: .3s transform;
}

.box-img:before, .box-img:after {
  display: table;
  content: "";
  line-height: 0;
}

.box-img:after {
  clear: both;
}
